
<!--Intro Section-->
<section id="intro" class="clearfix">
    <div class="container">
  
        <div class="intro-img tilt" data-tilt>
        <img src="assets/img/intro-img.svg" alt="" class="img-fluid">
      </div>
  
      <div class="intro-info">
        <h2>We make<br>Shoutout<br>for your business!</h2>
        <div>
          <a href="#" class="btn-get-started scrollto">Get Started</a>
          <a href="#" class="btn-services scrollto">Our Services</a>
        </div>
      </div>
  
    </div>
  </section>
  
  